python-dateutil
pytz
Django
django-rest-auth
djangorestframework
drf-generators
mysqlclient
django-rest-swagger
python-dotenv
gunicorn==19.8.1
PyYAML
whitenoise==3.3.1
requests
timezonefinder
google-api-python-client
oauth2client
